<!DOCTYPE html>
<html manifest="manifest.appcache"> 
 <head>
   <meta charset="utf-8" />	
   <title>Cat Walk</title>
 </head>
 <body>
  
  <img style="position:absolute;" src="{{ url_for('static', filename='cat.gif') }}" alt="cat">
  <h2>The Walking cat</h2>
  <script>
	var img = document.getElementsByTagName('img')[0];

	
	if(localStorage && localStorage.getItem('catpos'))
	{
		img.style.left = localStorage.getItem('catpos');
	}
	else
	{
		img.style.left= '0px'
	}

	var walkForwards = true;

	function catWalk() 
	{
	  var currentLeft = parseInt(img.style.left);

	  if (walkForwards && (currentLeft > (window.innerWidth-img.width))) 
	  {
	    walkForwards = false;
	  }
	  if (!walkForwards && (currentLeft <= 0)) 
	  {
	    walkForwards = true;
	  }
	  
	  if (walkForwards) 
	  {
	    img.style.left = (currentLeft + 10) + 'px';
	    localStorage["catPos"]= img.style.left;	
	  }
	  else 
	  {
	    img.style.left = (currentLeft - 10) + 'px';
	    localStorage["catPos"]= img.style.left; 
	  }
	}
	window.setInterval(catWalk, 50);

	

	img.onmouseover=function()
	{
		var meow=document.getElementById('cattalk');
		meow.play();
	};

	img.onmouseout=function()
	{
		var meow=document.getElementById('cattalk');
		meow.pause();
	};

  </script>
	<audio id="cattalk">
  		<source src="{{ url_for('static', filename='catmeow.ogg') }}" type="audio/ogg">
  		<source src="{{ url_for('static', filename='catmeow.mp3') }}" type="audio/mpeg">
		<source src="{{ url_for('static', filename='catmeow.wav') }}" type="audio/wav">
		Your browser does not support the audio element.
	</audio>
 </body>
</html>
